<!DOCTYPE html>
<html lang="en">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="jquery.flot.js"> </script>
<script type="text/javascript" src="jquery.flot.time.js"> </script>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<link href="common.css" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 20px;"><div class="navbar-inner">
<div class="container"><a class=\"brand\" href="#">Portfolio Manager</a><ul class=\"nav\">
<li><a href="userHome.pl">Home</a></li><li><a href="logout.pl">Logout</a></li></ul></div></div></div>




<div class='pageRoot'>
<h1>Historical</h1>
<h2><TMPL_VAR NAME=HOME></h2>

<div id='plot-placeholder'style="width:600px;height:300px">

</div>
<input class="interval-rb" type="radio" name="group1" value="week" /> Week
<input class="interval-rb" type="radio" name="group1" value="month"/> Month
<input class="interval-rb" type="radio" name="group1" value="quarter" checked='true'/> Quarter
<input class="interval-rb" type="radio" name="group1" value="year"/> Yr
<input class="interval-rb" type="radio" name="group1" value="5year"/> 5Yr <hr>
<h4>Extra credit?</h4>
<p>Simple Moving Averages is a widely use technical indicator for financial data</p>
<p>Experimental Simple Moving Average Feature: type in the 'n' for the desired SMA (usually in the 10-200 range) and click on 'Plot SMA'. Multiple SMAs can be graphed in same plot. To remove SMAs and just leave historical data, click Reset Data.</p>
<button id="ma_btn">Plot SMA</button><input id="n" type="text" value="50">
<button id="reset_btn">Reset Data</button>
<hr>
<h3>Explore other stocks</h3>
<p>Some options are AA, MSFT, XOM, etc</p>
<form action="" method="get">

  Go to: <input type="text" name="symbol"><br>
  <input type="submit" value="Submit">
</form>
</div>
<script>
main_data=new Array();
//Helper to get an URL parameter
function getURLParameter(name) {
	return decodeURI(
		(RegExp(name + '=' + '(.+?)(&|$)').exec(location.search) || [, null])[1]);
}
tempdata = 0
function startPlotting() {
main_data=new Array();
	var interval = $('.interval-rb:checked').val();
	console.log(interval);
	var symbol = getURLParameter("symbol");
	var dataToSend = {
		"symbol" : symbol,
		"interval" : interval
	};
	$.getJSON('historical-json.pl', dataToSend, function (data) {
		tempdata = data;
		console.log(data);
		
		plot_data = [];
		for (i = 0; i < data.plot_data.length; i++) {
			plot_data.push([data.plot_data[i][0] * 1000, data.plot_data[i][1]]);
		}
		console.log(plot_data);
		main_data.push({label: "Historical", data: plot_data});
		$.plot($("#plot-placeholder"), main_data, {
			xaxis : {
				mode : "time",
				timeformat : "%d/%m/%y"
			}
		});
	});
	
}
function plotMA() {
var n = $('#n').val();
	var interval = $('.interval-rb:checked').val();
	var symbol = getURLParameter("symbol");
	var dataToSend = {
		"symbol" : symbol,
		"interval" : interval,
		"n": n
	};
	$.getJSON('moving_avg-json.pl', dataToSend, function (data) {
		plot_data = [];
		for (i = 0; i < data.plot_data.length; i++) {
			plot_data.push([data.plot_data[i][1] * 1000, data.plot_data[i][2]]);
		}
		main_data.push({label: n+"SMA", data: plot_data});
		$.plot($("#plot-placeholder"), main_data, {
			xaxis : {
				mode : "time",
				timeformat : "%d/%m/%y"
			}
		});
		
	}
		
	)};
	jQuery(document).ready(function ($) {
		//bind a handler for the interval radio button's
		$(".interval-rb").change(function () {
			startPlotting();
		});
		startPlotting();
		
		$("#ma_btn").click(plotMA);
		$("#reset_btn").click(function(){main_data=new Array();startPlotting();});
	});
</script>
</body>
</html>