<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio Home</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <link href="common.css" rel="stylesheet" media="screen"/>
  </head>
  <body>
    <div class="pageRoot">
      <div id="portfolios" class="container">
	<h2>Active Portfolios</h2>
	<table class="table table-bordered">
	  <thead>
	    <tr><th>Portfolio Name</th><th>Cash Balance</th><th>Estimated Holdings Value</th><th>Total</th></tr>
	  </thead>
	  <tbody>
	    <TMPL_LOOP NAME="PORTFOLIOS">
	      <tr>
		<td><a href="quote.pl?id=<TMPL_VAR NAME="ID">"><TMPL_VAR NAME="NAME"></a></td>
		<td><TMPL_VAR NAME="CASH"></td>
		<td><TMPL_VAR NAME="VALUE"></td>
		<td><TMPL_VAR NAME="TOTAL"></td>
	      </tr>
	    </TMPL_LOOP>
	  </tbody>
	</table>
      </div>
      <div class="container">
	<div class="mini-layout fliud">
	  <div class="container-fluid">
	    <div class="row-fliud">
	      <div class="span6">
		<h3>Transfer</h3>
		<form action="transferPortfolio.pl" method="POST">
		  <label class="control-label" for="transferFrom">From</label>
		  <select id="transferFrom" name="from">
		    <TMPL_LOOP NAME="PORTFOLIOS">
		      <option value="<TMPL_VAR NAME="ID">"><TMPL_VAR NAME="NAME"></option>
		    </TMPL_LOOP>
		  </select><br/>
		  <label class="control-label" for="transferTo">To</label>
		  <select name="to" id="transferTo">
		    <TMPL_LOOP NAME="PORTFOLIOS">
		      <option value="<TMPL_VAR NAME="ID">"><TMPL_VAR NAME="NAME"></option>
		    </TMPL_LOOP>
		  </select><br/>
		  <input type="text" class="input" name="amount" placeholder="Amount"/><br/>
		  <button type="submit" class="btn btn-large btn-primary">Transfer</button>
		</form>
	      </div>
	      <div class="span5">
		<h3>Create Portfolio</h3>
		<form action="createPortfolio.pl" method="POST">
		  <input type="text" name="portfolio_name" placeholder="Name"/><br/>
		  <input type="text" name="cash_amount" placeholder="Cash Amount"/><br/>
		  <button type="submit" class="btn btn-large btn-primary">Create</button>
		</form>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
